<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% for message in messages %}
    <div class="error-message">{{message}}</div>
    {% endfor %}
    <h1>Login here</h1>
    <form action="login" method="post">
        {% csrf_token %}
        <div>
            <label for="">Enter Username: </label><br>
            <input type="text" name="uname" id="">
        </div>

        <div>
            <label for="">Enter Password: </label><br>
            <input type="password" name="upass" id="">
        </div>

        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
    <a href="{% url 'home' %}"><button>Register</button></a>
</body>
</html>