<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Intro to Django</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro earum repellendus ducimus sequi, libero nulla cum iste aperiam atque impedit temporibus cumque cupiditate! Itaque excepturi ipsa error nobis sed recusandae, dolorum consequuntur ipsam hic autem consequatur dolor sequi accusantium voluptas sunt natus ratione explicabo saepe! Odit natus quidem quisquam officiis, corrupti excepturi sapiente tenetur qui? Nemo, assumenda ducimus. Quae accusantium architecto quis perferendis dolores, rerum non, quisquam aut fugit reiciendis nobis vitae. Iste dignissimos necessitatibus sequi exercitationem corrupti minima totam possimus neque facilis perferendis. Facere mollitia libero pariatur modi quo suscipit. Quae temporibus rerum debitis nostrum voluptates expedita cumque earum?</p>
</body>
</html>
