<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Blogs - Dashboard</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        .container {
            height: 300vh;
            width: 100%;
            background-color: #ccc;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 30px;
            flex-direction: column;
        }

        .container>* {
            margin: 20px;
        }

        .post {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
        }

        a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Blogs</h1>
        <hr>
        <a href="extra2.html">
            <div class="post">
                <div class="title">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
                </div>
                <div class="date">
                    <b>Date: </b>13/3/2022
                </div>
                <div class="time">
                    <b>Time: </b>12:45 PM
                </div>
                <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                    tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                    eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                    numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                    iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                    illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                    laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                    perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                    officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                    quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                    odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                    autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                    autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                    nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                    reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
            </div>
        </a>
        <div class="post">
            <div class="title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
            </div>
            <div class="date">
                13/3/2022
            </div>
            <div class="time">
                12:45 PM
            </div>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
        </div>
        <div class="post">
            <div class="title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
            </div>
            <div class="date">
                <b>Date: </b> 13/3/2022
            </div>
            <div class="time">
                <b>Time: </b>12:45 PM
            </div>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
        </div>
        <div class="post">
            <div class="title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
            </div>
            <div class="date">
                13/3/2022
            </div>
            <div class="time">
                12:45 PM
            </div>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
        </div>
        <div class="post">
            <div class="title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
            </div>
            <div class="date">
                13/3/2022
            </div>
            <div class="time">
                12:45 PM
            </div>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
        </div>
        <div class="post">
            <div class="title">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nam.</h2>
            </div>
            <div class="date">
                13/3/2022
            </div>
            <div class="time">
                12:45 PM
            </div>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit nobis esse corporis
                tempore, dolorum neque, aspernatur totam officia placeat vitae quam. Voluptatibus alias, mollitia
                eligendi similique repellendus magni facere ipsa porro, nam dolores atque repudiandae enim. Voluptates
                numquam rem quibusdam architecto, neque at accusantium quia error exercitationem distinctio totam magnam
                iusto nisi perferendis nobis? Numquam delectus facere obcaecati! Minima atque, voluptatem repudiandae
                illo optio laborum! Repellendus quasi eaque dicta asperiores ullam illo, temporibus ab nihil non
                laboriosam, doloremque quos maxime corporis cupiditate facere, sit impedit ea dolor sunt officia
                perspiciatis modi voluptatibus eligendi! Nihil quas eum animi! Aliquid culpa veritatis vero earum
                officiis praesentium cum illum quibusdam veniam, nihil suscipit, laudantium numquam adipisci quo
                quaerat, nam ea eveniet. Inventore, omnis. Ipsum earum hic non quaerat, ipsa consequuntur nemo, omnis
                odit consequatur optio autem fugiat tempora aperiam dignissimos expedita vitae mollitia et? Sit qui
                autem corporis, quas temporibus est dolorum accusamus minus? Hic alias saepe maiores natus ex. Ipsum
                autem perferendis dolorem placeat eum maiores iure, numquam atque optio quae at ratione! Quasi, hic. Vel
                nulla ipsum dolor iure est. Adipisci iste ut sed deleniti ea nulla voluptatem incidunt? Quasi at aliquid
                reiciendis molestias ratione iste. Rerum dolor consectetur non.</p>
        </div>

    </div>
</body>

</html>