<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here's the data</title>
</head>
<body>
    <h1>The data</h1>
    <table border="1" cellpadding="10"> 
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Address</th>
            
        </tr>
        {% for i in stud %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.std}}</td>
            <td>{{i.address}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>